<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <span class="glyphicon glyphicon-tree-deciduous">Exif Edit</span>
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/"></a></li>
        <li><a href="/about"></a></li>
      </ul>
    </div>
  </div>
</nav>
