<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="css/working.css">
</head>
<body class="container">
<header>
  <% include ../partials/header %>
</header>

<main id="test">
  <p id="message">
    This is a placeholder
  </p>
</main>

<footer>
  <% include ../partials/footer %>
</footer>
<script src="js/working.js"></script>
</body>
</html>